
html {
    background-color: #d1d3d4;
}

body{
	margin:1em auto;
	max-width:40em;
	padding:0 .62em;
	font:1.2em/1.62 sans-serif;
    font-family: Georgia, serif;
    background-color: white;
}
h1,h2,h3 {
	line-height:1.2;
}


img{
	margin:1em auto;
	max-width:40em;
}

table, th, td {
    border-bottom: 1px solid #ddd;
	margin:1em auto;
    text-align: left;
 }

tr:hover {background-color: #6495ed;}

@media print{
	body{
		max-width:none
	}
}

/* hr { */
/*     width:100%; */
/*     height:1px; */
/*     background: #fff */
/* } */

.footer {
    float: right;
}
