<li>
    <time>
        {{ with .Site.Params.dateFormat }}
        {{ $.Date.Format . }}
        {{ else }}
        {{ .Date.Format "02. Jan 2006, 15:04" }}
        {{ end }}
    </time>
    >
    <a href= "{{ .Permalink }}"> {{ .Title }}</a>
</li>
