<!-- <hr \> -->
<!-- {{ partial "menu.html" . }} -->

<div class="footer">

    {{ with .Site.Params.Footer.twitter }}
    <a class="menu-link" href="https://twitter.com/{{ . }}" rel="me" target="_blank"><i class="fab fa-twitter fa-fw"></i></a>
    {{ end }}

    {{ with .Site.Params.Footer.github }}
    <a class="menu-link" href="https://github.com/{{ . }}" rel="me" target="_blank"><i class="fab fa-github fa-fw"></i></a>
    {{ end }}

    {{ with .Site.Params.Footer.gitlab }}
    <a class="menu-link" href="https://gitlab.com/{{ . }}" rel="me" target="_blank"><i class="fab fa-gitlab fa-fw"></i></a>
    {{ end }}

    {{ with .Site.Params.Footer.osf }}
    <a class="menu-link" href="https://osf.io/{{ . }}" rel="me" target="_blank"><i class="ai ai-osf fa-fw"></i></a>
    {{ end }}

    {{ with .Site.Params.Footer.telegram }}
    <a class="menu-link" href="https://t.me/{{ . }}" rel="me" target="_blank"><i class="fab fa-telegram fa-fw"></i></a>
    {{ end }}

    {{ with .Site.Params.Footer.mastodon }}
    <a class="menu-link" href="https://mastodon.com/@{{ . }}" rel="me" target="_blank"><i class="fab fa-mastodon fa-fw"></i></a>
    {{ end }}

    {{ with .Site.Params.Footer.orcid }}
    <a class="menu-link" href="https://orcid.org/{{ . }}" rel="me" target="_blank"><i class="fab fa-orcid fa-fw"></i></a>
    {{ end }}

    {{ with .Site.Params.Footer.Separator }}
    {{ . }}
    {{ end }}
    {{ with .Site.Params.Footer.Text }}
    {{ . }}
    {{ end }}
    {{ with .Site.Params.Footer.Copyright }}
    © {{ . }}
    {{ end }}
</div>
