<div class="menu">
    {{ with .Site.Social.twitter }}
    <a class="menu-link" href="https://twitter.com/{{ . }}" rel="me" target="_blank"><i class="fab fa-twitter fa-fw"></i></a>
    {{ end }}

    {{ with .Site.Social.github }}
    <a class="menu-link" href="https://github.com/{{ . }}" rel="me" target="_blank"><i class="fab fa-github fa-fw"></i></a>
    {{ end }}

    {{ with .Site.Social.gitlab }}
    <a class="menu-link" href="https://gitlab.com/{{ . }}" rel="me" target="_blank"><i class="fab fa-gitlab fa-fw"></i></a>
    {{ end }}

    {{ with .Site.Social.osf }}
    <a class="menu-link" href="https://osf.io/{{ . }}" rel="me" target="_blank"><i class="ai ai-osf fa-fw"></i></a>
    {{ end }}

    {{ with .Site.Social.telegram }}
    <a class="menu-link" href="https://t.me/{{ . }}" rel="me" target="_blank"><i class="fab fa-telegram fa-fw"></i></a>
    {{ end }}

    {{ with .Site.Social.mastodon }}
    <a class="menu-link" href="https://mastodon.com/@{{ . }}" rel="me" target="_blank"><i class="fab fa-mastodon fa-fw"></i></a>
    {{ end }}

    {{ with .Site.Social.orcid }}
    <a class="menu-link" href="https://orcid.org/{{ . }}" rel="me" target="_blank"><i class="fab fa-orcid fa-fw"></i></a>
    {{ end }}

</div>
