{{ partial "header.html" . }}

<div class="content">

    {{ .Content }}

    <time>
        Last updated:
        {{ with .Site.Params.dateFormat }}{{ $.lastmod.Format "Jan 2nd 2006"}}{{ end }}
    </time>

</div>

{{ partial "footer.html" }}
